.chat-main {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

.chat-main form {
    width: 100%;
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .25rem;
}

.chat-main input,
.chat-main textarea {
    flex-grow: 1;
    max-width: calc(80% - .25rem);
}

.chat-main button {
    width: 20%;
}

.chat-main input,
.chat-main button,
.chat-main textarea {
    border-radius: 10px;
    padding: .5rem;
}

.chat-main .chat-display {
    background-color: #333;
    list-style-type: none;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: left;
    overflow: auto;
    flex-grow: 1;
}

.chat-main .post {
    background-color: #eee;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.chat-main .post--left {
    width: 60%;
    align-self: flex-start;
}

.chat-main .post--right {
    width: 60%;
    align-self: flex-end;
}

.chat-main .post__header {
    color: #fff;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.chat-main .post__header--user {
    background-color: blue;
}

.chat-main .post__header--reply {
    background-color: purple;
}

.chat-main .post__header--name {
    font-weight: bold;
}

.chat-main .post__header--time {
    font-size: .8rem;
}

.chat-main .post__text {
    margin-top: 5px;
    color: #333;
    padding: .25rem .5rem;
}

.chat-main .user-list,
.chat-main .room-list,
.chat-main .activity {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;
}

.chat-main .activity {
    font-style: italic;
}